<link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

        <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Angular -->
    <script src="angular/angular.min.js"></script>
    <!-- ui router -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="scripts/loginapp.js"></script>
<style>
  @charset "UTF-8";
/* CSS Document */

body {
    width:100px;
  height:100px;
  background: -webkit-linear-gradient(90deg, #3A6073 10%, #1c6e1d 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #3A6073 10%, #1c6e1d 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #3A6073 10%, #1c6e1d 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #3A6073 10%, #1c6e1d 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #3A6073 10%, #1c6e1d 90%); /* W3C */
font-family: 'Raleway', sans-serif;
}

p {
  color:#CCC;
}

.spacing {
  padding-top:7px;
  padding-bottom:7px;
}
.middlePage {
  width: 680px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo {
  color:#CCC;
}
</style>
<body ng-app="login">
<div ng-controller="loginController" class="middlePage">
<div class="page-header">
  <h1 class="logo">Moneta <small>Lets get ready to invest!</small></h1>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Please {{sign}}</h3>
  </div>
  <div class="panel-body">
  
  <div class="row">
  
<div class="col-md-5" >
<a href="/auth/facebook"><img src="http://techulus.com/buttons/fb.png" /></a><br/>
<a href="/auth/google"><img src="http://techulus.com/buttons/gplus.png" /></a>
</div>
    <div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
        <form id="sign" action="/login" method="post" class="form-horizontal">
            <fieldset>
                <div>
                  <input id="textinput" type="text" placeholder="Enter User Name" name="email" class="form-control input-md">
                    
                  <input id="textinput" type="password" placeholder="Enter Password" name="password" class="form-control input-md">
                  <button ng-click="signup()"type="button" id="signUpButton" name="signup" class="btn btn-info btn-sm"> Need an Account?<br/></button>
                  <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-info btn-sm pull-right">{{sign}}</button>

              </div>
            </fieldset>
        </form>
    </div>
    
</div>
    
</div>
</div>

<p><a href="https://github.com/arjunkomath">About</a> · Arjun</p>

</div>
</body>