<!-- views/profile.html -->
<!doctype html>
<html ng-app="moneta">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Moneta Profile</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/index.css">

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Angular -->
    <script src="angular/angular.min.js"></script>
    <!-- ui router -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="scripts/app.js"></script>
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>

<body ng-controller="mainController">
<!-- <div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Sample Profile</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

 -->    <!-- <div class="row"> -->
        
        <!-- GOOGLE INFORMATION -->
 <!--        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
  -->               
                <!-- check if the user has this token (is the user authenticated with this social account) -->
<!--                 <% #if (user.google.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </p>

                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% #} else { %>
                    <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                <% #} %>

            </div>
        </div> -->



        <!-- FACEBOOK INFORMATION -->
        <!-- <div class="col-sm-6">
          <div class="well">
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                <% #if (user.facebook.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.facebook.id %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.facebook.name %><br>
                    </p>

                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% #} else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% #} %>

          </div>
        </div>
 -->

        <!-- LOCAL INFORMATION -->
<!--         <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% #if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>
                    
                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <%# } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <%# } %>

            </div>
        </div> -->

    <!-- </div> -->

<!-- </div> -->

<!-- Header and count -->

    <div class="container">

    <!-- HEADER AND TODO COUNT -->
    <div class="text-center">
        <h1>Moneta Checklist</h1>
    </div>

<!-- <article ng-app="angularSlideables">
    <h1 slide-toggle="#derp" >Click here for Hipster Ipsum.</h1>
    <div id="derp" class="slideable"> -->


    <div class="row">
      <div id="checklist" ng-controller="checklistController">
        <div class="col-xs-10 col-xs-offset-2">
      <!-- Angular TODO -->
          <div ng-repeat="todo in todos" class ='unchecked' ng-class="{'checked': todo.isChecked}">
            <label>
                <input type="checkbox" ng-model="todo.isChecked" slide-toggle="#step_id_{{todo.id}}"/>
                <span class="todoStep">{{todo.step}}</span>
                <span class="todoName">{{todo.name}}</span>
                <div id="step_id_{{todo.id}}" class="slideable">
                  <h1>What is Investing? [Check 1, 1 minute]</h1>
                  <p>When you invest, you are basically “hiring” your own money to go “work” and earn more money for you. If done smartly, over time your original savings can multiply exponentially. For example, one dollar you invest today can be worth $10 in 30 years. Now you’re probably thinking: “That’s a hella long time to wait for 10 bucks.” Fair enough, but let’s say during those 30 years, little by little, you save 100,000 one dollar bills (roughly $3,300 per year). And at the end of those 30 years, that $100,000 will be worth $1 million. Now we’re talking, right?
                  That is investing. And it’s easier than you think.
                   
                  What can seem overwhelming, especially if you are just starting out, is deciding among the many investing options. You’ve probably heard of some (stocks and bonds) but might be unfamiliar with others (like ETFs and mutual funds). We walk you through the basics later, but the first choice you need to make is pretty simple. You need to figure out what investment bank is best for you.</p>
 
                <div id="step_id_{{todo.id}}'" class="slideable">
                  <h1>Gather Required Information [Check 2, 5 minutes]</h1>
                  <p>Before you invest in a Roth IRA, you will need to start an account with an investment bank, which will service your account, take care your assets, and invest your money for you based on your direction. The account sign-up process might vary from bank to bank, but the information you will need to provide is generally consistent among most institutions. 

What information will I need?
You will need to provide some basic personal and financial information and answer a few questions. We suggest gathering all of the information and having it ready to input before you start the process. 

Choose an Account: Roth IRA
Personal Information: Name, social security #, passport or driver’s licence #
Bank Information: You will be required to fund your account. Some investment banks will require you to begin with a minimum amount (e.g. $1,000); others will allow you to start with a $0 balance and set up a monthly direct deposit from your bank into your Roth IRA. Either way, you will need your bank account and routing numbers. (You can find these at the bottom of your personal checks.)
Employment Questions: You might be asked if work for a member firm. The answer to this will be “no” unless you work in the investment industry. If you happen to work in the investment industry, you will need information from your company's human resources department.
Beneficiaries: This the person(s) who will receive the monetary benefits of your investments should any exist after your death. If you are married, you will likely choose your partner and/or children. Single investors often choose a brother, sister, other family members, or friends. You can choose multiple beneficiaries, and you will need the following information for each person:
Home Address
Social Security #
Date of Birth
Optional Information: You will likely be asked to provide some optional information regarding your investing profile and preferences. If you aren’t comfortable answering these questions, go ahead and skip them. You can always go back and provide the information later. 
</p>
                </div>
                <div id="step_id_{{todo.id}}'" class="slideable">
                  <h1>Choose an Investment Bank [Check 3, 15 minutes]</h1>
                  <p>There are several investment banks to choose from, but we have outlined three options below that we feel offer respectable service while keeping fees relatively low. You are more than welcome to do your own research or ask for recommendations from family or friends. 

TD Ameritade
https://invest.tdameritrade.com/grid/p/accountApplication
800-454-9272

What we like:
No minimum balance
Access to 100+ no-fee exchange traded fund, funds that are free to own, selected by a third party rather than specific to
Ranked as “Best online broker for long term investors” in 2015 by Barron’s

Beware of:
$9.99 per online trade for ETFs outside the commission free ETFs
Comparatively low number of commission free ETFs
Mobile app is not up to par with competition.
In-person support lacking


Fidelity
https://accountopening.fidelity.com/ftgw/aong/aongapp/accountSelectorEntry#1461000919473
800-343-3548

What we like:
No minimum balance
High end mobile app to monitor investments
7.95 for regular trades , 84 no commision (aka no cost to trade) ETFs
In person support and seminars are great.

Beware of:
Price quote tool not very robust
Limited ETF issuers available
Communication regarding your investments is full of jargon.
Charles Schwab
https://enroll.schwab.com/AoUI/#/getStarted
866-855-9102

What we like:
No required opening balance if you set up an automatic monthly transfer of $100 through direct deposit
$0 per Schwab ETF online trade in your Schwab account
Robust retirement planning tools and educational resources
24/7 customer support

Beware of:
$1,000 required to open an account (if you don’t choose direct deposit)
No Virtual Trading or Demo Option
Depending on where you live, brick-and-mortar locations could be limited

Outro here explaining what happens after money is wired.
</p>
                </div>
                <div id="step_id_{{todo.id}}'" class="slideable">
                  <h1>Stocks and Bonds [Check 4, 5 minutes]</h1>
                  <p>What is a stock?
A stock is a share of ownership in a publically traded company. When you purchase a share of a stock, you are considered, in part, an owner (or shareholder) of that company. This doesn’t mean you suddenly walk through the front door and start bossing people around, but you are entitled to a claim of the company's assets and earnings.
 
Why would a company sell shares of ownership to random people?
The short answer: fast cash. At some point every company will need to raise money, and they have two options: sell part of the company in the form of stock (a.k.a equity) or issue debt against itself in the form of corporate bonds (which we will cover below).

So what’s in it for me?
Purchasing stock in a company is basically a vote of confidence in its future. When a company does well, its stock price rises. The goal for investors is to hold onto shares of stock for a long enough time to see the company experience significant growth. When that happens, the stock price increases and is worth more than when you originally bought it. At any given time, you can sell (a.k.a liquidate) your shares. The money you earned on top of your original investment is called capital gains.

What is a bond?
As an investor, you can also lend companies money. When you do, you purchase a bond, which is a promise from the company to pay you back at a predetermined date in the (usually far) future. It’s just another way to for a company to raise money. Many large companies simultaneously have a large portion of their company available to the public in the form of stock AND have millions of dollars of debt issued against itself in the form of bonds. 

Why would I lend money to a huge company?
Just like a loan from a traditional bank, you will earn interest (a small % extra) for lending your money to a company. In this case, you are like the bank. And the company will agree to pay you back in full on the maturity date (often times many years in the future), but in the meantime, you will be paid the interest on a fixed schedule. 

OK, this all sounds great. Is there any risk involved?
There is always risk. You could pick a stock that loses value over time. Or you could lend money to a company that goes bankrupt and can’t pay you back. In the investing world, risk and reward are at play. Stocks are a more risky than bonds. But stocks also can make you more money than bonds. Putting more of your money in stocks makes you an aggressive investor. If you want to be a conservative investor, you would invest the more of your money in bonds. The great thing is, there are ways to minimize risk and maximize reward. (We will help you figure out what works best for you later.)
 
Can I just start buying stock in companies?
You could, but unless you have ton of money and/or willing to take a lot of risk and potentially lose money, it wouldn’t be the best strategy. Let’s look at Tesla, (TSLA), for example. One share of its stock costs nearly $250 dollars. So if you had $1,000 to start investing, you could only buy four shares. Tesla is doing some innovative stuff right now, so let’s assume it keeps it up and that in 20 years it’s stock has increased by 40% and is now worth $350, which would be really impressive growth for a company. Your four shares have earned you a grand total of $400 in two decades. And that is taking a risk that Tesla will continue to produce cool cars that people will want to buy. That is no guarantee.
 
That’s a lot of time to wait for $400. Are there better options?
Yes, it is. And yes there are. You can use that same $1,000 (or even less) to become an investor who will have consistent yearly gains regardless of if the newest Telsa car is a hit or not. To do this you can invest in groupings of stocks or bonds that offer better value for investors. We cover two main types on the next page. 
</p>
                </div>
                <div id="step_id_{{todo.id}}" class="slideable">
                  <h1>Mutual Funds and ETFs [Check 5, 5 minutes]</h1>
                  <p>What are mutual funds?
Think of a mutual fund as a bucket. And the bucket is filled with stocks or bonds of many different companies. Instead of investing in all of those different companies individually, you invest in shares of the bucket (the mutual fund). And shares of the mutual fund are much more affordable than buying individual shares of those companies.

Do I have ownership in all of those companies?
You don’t have the same rights or benefits of ownership as a you would buying full shares. You own little slices of each share of each company along with all of the other investors who are buying into that mutual fund. Active mutual funds have a team of people who manage the fund, making decisions on which underlying stocks they believe will do better than the market as a whole. And beating the market requires a lot of time and research.

And who pays this team of people trying to beat the market for me? 
You do. The good news is that the fees are split among all of the investors buying into the mutual fund. But they that can still add up, and you have to pay them whether the mutual fund makes money or not. Mutual funds also may have additional requirements on minimum balances and trading frequency. 

That quickly went from sounding awesome to not as awesome.
Don’t worry there is still another option. To cut back on fees even more, an exchange traded fund (ETF) is the right choice.

What is an ETF?
An ETF is a low-cost index fund that tries to mirror the performance of the market instead of beating it. Like a mutual fund, an ETF is grouping of stocks or bonds with many investors buying small slices of each share. However, while the mutual fund has a team of people steering it, the ETF is on “autopilot,” which makes it cheaper to manage the fund. In other words, there are fewer fees for you to pay. 

What is a good example of a specific ETF?
The iShares S&P 500 Index ETF (IVV) is a popular fund with more than $72 billion dollars of assets invested in it to buy shares of stock of the top 500 companies in the United States. So this ETF is a powerful way to use a relatively small amount of money to gain access to the possible gains of the top 500 companies in the US. This exposure is referred to as diversification.
</p>
                <div id="step_id_{{todo.id}}'" class="slideable">
                  <h1>Asset Allocation [Check 6, 10 minutes]</h1>
                  <p>Congrats! You survived (tolerated us) to a very important point in the process. Before we move on, let’s do a quick review:
We now understand that mutual funds and ETFs are groupings (buckets) of securities (either stocks or bonds) that are traded on the market as if they were stocks themselves. 
Both options are more cost-effective than buying enough individual stocks or bonds to become optimally diversified.
Mutual funds are actively managed by a team of people trying to outperform the market.  
ETFs essentially run on “autopilot,” trying to mirror the market instead of beat it. This makes them cheaper to own and maintain than mutual funds. 

If you are interested in keeping your costs down, you will likely be interested in investing in ETFs. But which one is right for you? To understand that we need to talk a little bit about asset allocation.

Asset what? That sounds complicated.
It’s not, really. To be truly diversified, you should split your money between two different categories, each with varying levels of risk. And these categories should sound familiar by now:

ETF buckets full of stocks (higher risk, higher yield)
ETF buckets full of bonds (lower risk, lower yield)

Asset allocation is simply deciding what percentage of your investment to designate into each of these groups.

And how do I do that?
As a general rule of thumb, you can use this simple equation: 

Start with 110 and subtract your age. 

This is the percentage of your portfolio that should be stocks. The rest should be allocated toward bonds

For example: 
Age: 25; portfolio will be 85% stocks, 15% bonds
Age: 30; portfolio will be 80% stocks, 20% bonds 
Age 40; portfolio will be 70% stocks, 30% bonds

You’ll notice an obvious pattern; as you get older, you will be investing more in bonds and less in stocks. The idea here is simple: As you get closer to retiring, you will want to minimize the risk of losing a large portion of your portfolio in the volatility of the stock market. Thus you will start investing more in safer funds (bond funds) and less in volatile funds (stock funds).

Easy enough. How hard-and-fast is this rule of thumb?
Let’s call it a general guideline for “best practices” investing. You can always make adjustments, depending on how aggressive or conservative you want to be. And as always, more risk comes with the potential of making or losing larger amounts of money. Lower risk is safer with lower yield on your investment.

So you would start with the equation above: 110 minus your age. Then adjust as follows: 

Aggressive Investor: Add up to 10%
Conservative Investor: Subtract up to 10%

For example, a 25-year-old aggressive investor might have a portfolio allocation of 93% stocks and 7% bonds. (110 - 25 = 85% + 8% = 93% stock allocation)

A 30-year-old conservative investor might have 75% in stock and 25% in bonds. (110 - 30 = 80% - 5% = 75% stock allocation)

To help you decide whether you are (or should be) an aggressive, moderate, or conservative investor, we feature some of the traits of each on the next page. 
</p>
                </div>
                <div id="step_id_{{todo.id}}'" class="slideable">
                  <h1>Investor Profiles [Check 7, 10 minutes]</h1>
                  <p>Modules for :

Aggressive

Moderate 

Aggressive

Each of the profiles will be clickable with the investor profile gold copy -- COPY here.
</p>
                </div>
                <div id="step_id_{{todo.id}}'" class="slideable">
                  <h1>Choose Your Investments [Check 8, 10 minutes]
</h1>
                  <p>Copy TK

OK, thanks. At some point, I should probably choose some ETFs, right?
Yes you should. Let’s tackle the stocks portion of your portfolio first. As a long-term investor, we suggest looking into two main types of stock funds: 
ETFs that hold companies based in the United States
ETFs that hold companies based outside of the United States 
</p>
                </div>

            </label>
          </div>
        </div>
      </div>
    </div>


      <!-- TODO LIST -->
        
        <!-- FORM TO CREATE TODOS -->
        <div id="todo-form" class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <!-- <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button> -->
                </form>
            </div>
        </div>

    </div>



</body>
</html>
